.exhibit {
  margin: 56px 0;
  display: inline-flex;
  gap: 56px;
}

.exhibit__desc {
  margin-top: 1.6em;
  font-size: var(--font-size-text);
  color: var(--color-text);
}
.exhibit__desc strong {
  font-weight: bold;
}
.exhibit__title {
  font-size: var(--font-size-subtitle);
}
._popular .exhibit__title em { color: #F16528; }
._custom .exhibit__title em { color: #2965F1; }

.exhibit__spec {
  margin-top: 1.6em;
}
.exhibit__spec dd {
  margin-right: 1.2em;
  font-size: var(--font-size-larger);
  color: var(--color-lighter);
}
.exhibit__spec dd::before {
  content: '';
  display: inline-block;
  margin-right: 0.4em;
  width: 12px;
  height: 6px;
  border-left: 4px solid var(--color-sub);
  border-bottom: 4px solid var(--color-sub);
  vertical-align: 0.2em;
  transform: rotate(-45deg);
}

.exhibit__thumb {
  position: relative;
}
.exhibit__thumb::after {
  content: '';
  position: absolute;
  left: 0;
  height: 10%;
  background-color: black;
  border-radius: 50%;
}

.exhibit__poster {
  animation-name: poster-hover;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.exhibit__thumb::after {
  animation-name: poster-shadow;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 768px) {
  #popular {
    border-bottom: 4px solid var(--color-light-bg);
  }
  .exhibit {
    flex-direction: column;
  }
  .exhibit__poster {
    width: 50%;
  }

  .exhibit__content {
    text-align: center;
  }
  .exhibit__title div {
    display: inline-block;
    text-align: left;
  }
  
  .exhibit__thumb::after {
    left: 25%;
    bottom: -16%;
    width: 50%;
  }
}

@media (min-width: 769px) {
  #popular {
    border-right: 4px solid var(--color-light-bg);
  }
  .exhibit__poster {
    width: 144px;
  }

  .exhibit__content {
    text-align: left;
  }

  .exhibit__thumb::after {
    left: calc(50% - 72px);
    bottom: -24px;
    width: 144px;
  }
}

@keyframes poster-hover {
  from { transform: translateY(0); }
  to { transform: translateY(10px); }
}

@keyframes poster-shadow {
  from { opacity: 0.08; }
  to { opacity: 0.3; }
}

